<footer>
    <div id="disclaimer">
        CST336 Internet Programming. 2019&copy; Cautivar, Kallis, and Wrischnik <br>
        <strong>Disclaimer:</strong> The information in this webpage is fictitious.
        It is used for academic purposes only.
    </div>
</footer>
</html>