<% include partials/header.ejs %> 
    </head>
    <body>
         <h1> Shopping Cart </h1>
<table>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>January</td>
    <td>2</td>
    <td>$100</td>
  </tr>
</table>
<br><br>
<form action = /checkout>
<button> Cick here to purchase! </button>
</form>

</body>
<% include partials/footer.ejs %> 
