<% include partials/header.ejs %>
    <body>
            <h1 class="jumbotron">Welcome to the Shops Shop!</h1>
            

            <button id="submitBtn" class="btn btn-outline-success"> User Sign In </button><br>
            
       
            <button id="submitBtn" class="btn btn-outline-success"> Admin Sign In </button><br>
    </body>
<% include partials/footer.ejs %>