
<!-- From Lab 10, incomplete, need app.js calls, ctrl-f "login" -->
<% include partials/header.ejs %> 
        <script>
            $(document).ready(function() {
                $("#loginBtn").on("click", function(){
                    $.ajax({
                        method: "POST",
                        url: "/userLoginProcess",
                        dataType: "json",
                        data: { "username":$("#username").val(),
                                "password":$("#password").val()},
                        success: function(result,status) {
                            //alert(result);
                            if (!result){
                                alert("Wrong credentials!");
                            }else{
                                location.href = "/searchProduct"; //redirects to admin route
                            }
                        }
                    });//ajax
                }); //click
            }); //document.ready
        </script>
    </head>        
    
    <body>
        
        <title> User Login Screen </title>

        
            Username: <input type="text" name="username" id="username"> <br>
            Password: <input type="text" name="password" id="password"> <br>
            
            <br>
            <button id="loginBtn"> Login! </button>
        
    </body>
</html>